@font-face {
    font-family: 'IRANSansWeb' !important;
    src: url('assets/fonts/iransans/IRANSansWeb.eot');

    src: url('assets/fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/iransans/IRANSansWeb.woff2') format('woff2'),
    url('assets/fonts/iransans/IRANSansWeb.woff') format('woff'),
    url('assets/fonts/iransans/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
