@font-face {
    font-family: Tanha;
    src: url('../../asset/fonts/Sahel.eot');
    src: url('../../asset/fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../../asset/fonts/Sahel.woff') format('woff'),
    url('../../asset/fonts/Sahel.ttf') format('truetype');
    src: url('../../asset/fonts/Sahel-FD.eot');
    src: url('../../asset/fonts/Sahel-FD.eot?#iefix') format('embedded-opentype'),
    url('../../asset/fonts/Sahel-FD.woff') format('woff'),
    url('../../asset/fonts/Sahel-FD.ttf') format('truetype');
    font-weight: normal;
}
body{
    font-family: Tanha !important;
}
.form-group{
    text-align: right;
}

.input-group-text{
    border-bottom-right-radius: 0.5rem !important;
    border-bottom-left-radius: unset;
    border-top-right-radius: 0.5rem !important;
    border-top-left-radius: unset;
}

.form-control {
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: unset;
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: unset;
}
